{% extends 'base.html'%}
{% block title %} View user {% endblock %}
{% block main%}
    
    <div>
   <form action="{{ url_for('profile_view',userid=profile.userid) }}" method="POST" enctype="application/json">
            
        </form>
        
        </div<
    <div>
    <h4>{{ profile.firstname }}'s Profile</h4>
    pic: {{profile.pic}}
    <h3>{{ profile.firstname }} {{profile.lastname}}</h3> 
    <h6>Date Created: {{profile.date_created}}</h6>
    <p>Username: {{profile.username}}<br>
    User ID: {{profile.id}}<br>
    Gender: {{profile.gender}}<br>
    Age: {{profile.age}}<br><br>
    {{profile.bio}}
    </p> 
    </div>
    {% endblock%}
  