{% extends 'base.html'%}
{% block title %} View user {% endblock %}
{% block main%}
<style>

  .pic{
    height: auto; 
    width: auto; 
    float: left;
    max-width: 500px; 
    max-height: 500px;
    margin-top:50px;
    margin-right: 10px;
}

.name{
        font-size: 20px;
        
        margin-right: 300px;
        margin-bottom: 250px;
        padding-left: 50px;
        color:blue;
    }
.button{
    float:left;
    top:50%;
    color:  blue;
}  
</style>
    
    <div>
       <form action="{{ url_for('profile_view',userid=profile.userid) }}" method="POST" enctype="application/json">
            <button type="submit">View JSON Output</button>
        </form>
        
        </div
    <div>
    <h2>{{ profile.firstname }}'s profile</h2><br><br>
    
    <div class = "image">
        <img class = "pic" src="{{ url_for('static', filename='uploads/'+profile.pic) }}"><br><br>
    </div>
    <div class = "name">
    <h3>{{ profile.firstname }} {{profile.lastname}}</h3> 
    <p>Date Created: {{profile.date_created}}<br>
    Username: {{profile.username}}<br>
    User ID: {{profile.userid}}<br>
    Gender: {{profile.gender}}<br>
    Age: {{profile.age}}<br>
    {{profile.bio}}
    </p> 
    </div>
    
    {% endblock%}
  