{%extends "base.html"%}

 {%block main%}   
 
{%include 'flash.html'%}
 
<form action="{{ url_for('add_profile') }}" method="post"  enctype="multipart/form-data">   

    <h3>Add your profile</h3><br>
    
    Username: (Required*)<br>
    Pleae enter your Username<br>
    <input type = "text" username = "username" ><br><br>
    
    Firstname: (Required*)<br>
    Pleae enter your firstname<br>
    <input type = "text" firstname = "firstname" ><br><br>
    
    Lastname: (Required*)<br>
    Pleae enter your lastname<br>
    <input type = "text" lastname = "lastname" ><br><br>
    
    
    <label for="gender">Gender</label><br>
        <select name="gender">
             <option value="male">Male</option>
             <option value="female">Female</option>
        </select><br><br>
    
    
    Age: (Required*)<br>
    Pleae enter your age<br>
    <input type = "text" age = "age" ><br><br>
    
            <p>Enter biography</p>
            <textarea id="bio" name="bio"></textarea><br><br>
    
    
            <p>Upload profile photo</p>
            <input type ="file" id="pic" name="pic" accept="image/*"></input><br>
            
    
    <input type="submit" name="submit" value="submit">
    </form>

{% endblock %}