{% extends 'base.html' %}

{% block title %} All Users {% endblock %}


{% block main %}
{% for user in users %}

<img src="{{ url_for('static', filename='uploads/'+user.pic) }}"></img>

            <h4>{{ user.firstname}} {{ user.lastname }}</h4><br/><br/>
            Profile Created On: {{ user.profile_created_on }}<br/><br/>
            
            <p>Username: {{ user.username }} <br/><br/>
            User ID: {{ user.userid }} <br/><br/>
            Gender: {{ user.gender }} <br/><br/>
            Age: {{ user.age }} <br/><br/>
            
            {{ user.bio }}
            </p>
        </div>
    </div>
    
    <br/>
{% endfor %}
{% endblock %}

