{% extends "base.html" %}



{% block main %}

<form method = "POST" enctype = "mutlipart/form-data" action = "{{url_for('profile_list')}}">   
   
    {{ form.csrf }}
   
    {{ form.firstname.label }} <br/> {{ form.firstname }} <br /><br/>
    {{ form.lastname.label }} <br/> {{ form.lastname }} <br /><br/>
    {{ form.username.label }} <br/> {{ form.username }} <br /><br/>
    {{ form.age.label }} <br/> {{ form.age }} <br /><br/>
    {{ form.gender.label }} <br/> {{ form.gender }} 
    {{ form.bio.label }} <br/> {{ form.bio }} <br /> <br/>
    
    <label for="image">Upload a Image for your profile </label><br/><br/>
    <input type="file" name="image" accept="image/gif, image/jpeg, image/png"><br>
    
    <button class="btn btn-primary active" type="submit">Submit</button>
    {{ form.csrf_token }} 
</form>
{% endblock %}